@font-face {
    font-family: mayo;
    src: url("font/Dovemayo_gothic.ttf") format("truetype");
}

@font-face {
    font-family: ret;
    src: url("font/establish\ Retrosans.ttf") format('truetype');
}


*{
    font-family: 'mayo', cursive;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
}

.wrap {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.top {
    font-family: ret;
    display: block;
    padding: 4rem;
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
}

.sl {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.ex {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    opacity: 0.4;
}

.songlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem;
}

.songlist > .song {
    display: flex;
    border: 0.2rem solid white;
    margin-bottom: 3rem;
}

.songlist > .song > img {
    height: 100%;
    width: 40%;
    margin: 0.5rem;
}

.songlist > .song > .text {
    flex-direction: column;
    padding: 0.5rem;
    line-height: 1.8rem;
}

.songlist > .song > .text > .singer {
    opacity: 80%;
}

.songlist > .song > .text > .songname {
    font-size: 1.5rem;
}