*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 62.5%;
}

.OmniComa {
    display: block;
    padding: 4rem;
    background-color: yellow;
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
}

.waytocome {
    display: flex;
    margin: 2rem;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}

.Direction {
    display: flex;
    margin-inline: 5rem;
    height: 5rem;
    border: 1mm solid black;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 2rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

.map {
    display: block;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    border: 0.1mm solid black;
}