*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
}

.main {
    display: block;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.main > .OmniComa {
    display: block;
    padding: 4rem;
    /* background-color: yellow; */
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
}

.main > .when {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}

.main > .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
    height: 4rem;
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.main > ul {
    display: grid;
    padding: 4rem;
    grid-template-rows: 1fr 1fr 1.5fr;
    row-gap: 3rem;
    /* background-color: plum; */
}

.main > ul > li {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.main > .blocks > .info {
    height: 4rem;
    width: 16rem;
    margin: auto;
    background-color: rgb(100, 100, 100);
    border-top: rgba(200,200,200,200);
    border-left: rgba(200,200,200,200);
    box-shadow: 0.1px 0.1px;
    font-size: 1.2rem;
}