@font-face {
    font-family: mayo;
    src: url("../font/Dovemayo_gothic.ttf") format("truetype");
}

@font-face {
    font-family: ret;
    src: url("../font/establish\ Retrosans.ttf") format('truetype');
}


*{
    font-family: 'mayo', cursive;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
}

.wrap {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.top {
    font-family: ret;
    display: block;
    padding: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
}

.sl {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.ex {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    opacity: 0.4;
}


.song {
    display: flex;
    border: 0.2rem solid white;
    margin: 2rem;
    margin-bottom: 2.5rem;
}

.song > img {
    height: 100%;
    width: 40%;
    margin: 0.5rem;
}

.song > .text {
    flex-direction: column;
    padding: 0.5rem;
    line-height: 1.8rem;
}

.song > .text > .singer {
    opacity: 80%;
}

.song > .text > .songname {
    font-size: 1.5rem;
}

.lyrics {
    display: flex;
    border: 0.2rem solid white;
    font-size: 2rem;
    margin: 8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.members > .member {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 0.2rem solid white;
    align-items: center;
    margin: 1rem;
}

.members > .member > .th {
    text-align: center;
}

.members > .member > .name {
    font-size: 1.5rem;
}

.members > .member > .position {
    font-size: 1.25rem;
}

.members > .member > .image {
    text-align: center;
}

.members > .member > .image > img {
    width: 3rem;
    height: 3rem;
}