@font-face {
    font-family: mayo;
    src: url("../font/Dovemayo_gothic.ttf") format("truetype");
}

@font-face {
    font-family: ret;
    src: url("../font/establish\ Retrosans.ttf") format('truetype');
}


*{
    font-family: 'mayo', cursive;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
}

.wrap {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.main {
    display: block;
}

.main > .OmniComa {
    font-family: ret;
    display: block;
    padding: 4rem;
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
    color: #F1C164;
    text-shadow: 3px 3px #2D63A7;
}

.main > .middle {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.main > .middle > .when {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    margin-bottom: 1.5rem;
    text-decoration: line-through;
}

.main > .middle > .location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-top: 1.5rem;
    color: gold;
}

.main > .blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > .blocks > button {
    height: 4rem;
    width: 16rem;
    margin-top: 5rem;
    background-color: rgb(100, 100, 100);
    border-top: rgba(200,200,200,200);
    border-left: rgba(200,200,200,200);
    box-shadow: 0.1px 0.1px;
    font-size: 1.2rem;
}

/* ---  여기까지    main css  ----*/

.main > .TimeTable {
    font-family: title;
    display: block;
    padding: 4rem;
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
}

.main > .TimeLine {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.main > .TimeLine > .TL {
    display: block;
    margin: auto;
    height: 7rem;
    width: 80%;
    justify-content: center;
    padding-top: 1.8rem;
}

.time, .team {
    font-size: medium;
    font-weight: bolder;
}

.team {
    font-size: 2.5rem;
}

.main > .TimeLine > .TL > .first {
    border: 0.25rem solid blue;
    text-align: left;
    padding: 0.5rem;
}

.main > .TimeLine > .TL > .second {
    border: 0.25rem solid skyblue;
    text-align: right;
    padding: 0.5rem;
}

.main > .TimeLine > .TL > .third {
    border: 0.25rem solid aqua;
    text-align: left;
    padding: 0.5rem;
}

.main > .TimeLine > .TL > .fourth {
    border: 0.25rem solid cornflowerblue;
    text-align: right;
    padding: 0.5rem;
}

.main > .TimeLine > .TL > .fifth {
    border: 0.25rem solid darkblue;
    text-align: center;
    padding: 0.5rem;
}

/* --- 여기까지 timetable css ----*/

.top {
    font-family: ret;
    display: block;
    padding: 4rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
}

.sl {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.ex {
    display: block;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    opacity: 0.4;
}

.songlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.song {
    display: flex;
    border: 0.2rem solid white;
    margin-bottom: 2.5rem;
    margin: 2rem;
    margin-bottom: 2.5rem;
}
.song:nth-child(3) {
    margin: 0;
}

.song > img {
    height: 100%;
    width: 40%;
    margin: 0.5rem;
}

.song > .text {
    flex-direction: column;
    padding: 0.5rem;
    line-height: 1.8rem;
}

.song > .text > .singer {
    opacity: 80%;
}

.song > .text > .songname {
    font-size: 1.5rem;
}

/* ---- 여기까지 teams css*/

.tolyrics {
    display: flex;
    border: 0.2rem solid white;
    font-size: 2rem;
    margin: 8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.members > .member {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 0.2rem solid white;
    align-items: center;
    margin: 0.75rem;
}

.members > .member > .th {
    text-align: center;
}

.members > .member > .name {
    font-size: 1.5rem;
}

.members > .member > .position {
    font-size: 1.25rem;
}

.members > .member > .image {
    text-align: center;
}

.members > .member > .image > img {
    width: 3rem;
    height: 3rem;
}

/* ---- 여기까지 performer css ---- */

.LyricBox {
    display: flex;
    margin: 2rem;
    border: 0.2rem solid white;
    height: 50vh;
}

.LyricBox > .lyrics {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
    font-size: large;
}


/* ---- 여기까지 lyrics css ---- */


.warnlist > li {
    font-size: medium;
}


.infolist > .info > .warning > .warnlist > li {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    line-height: 1rem;
}

.infolist > .info {
    font-size: large;
    padding: 1.5rem;
}

/* ---- 여기까지 information css ----*/

.contex {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    opacity: 0.4;
}

.conlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem;
    margin-top: 4rem;
}

.conlist > .con {
    display: flex;
    border: 0.2rem solid white;
    margin-bottom: 3rem;
}

.conlist > .con > img {
    height: 100%;
    width: 40%;
    margin: 0.5rem;
}

.conlist > .con > .text {
    flex-direction: column;
    padding: 0.5rem;
}

.conlist > .con > .text > .coninfo {
    padding: 0.3rem;
    color: palegoldenrod;
}

.conlist > .con > .text > .conname {
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

/* ---- 여기까지 contents css ---- */

.bimg {
    display: flex;
    padding: 2rem;

}

.bimg > img {
    height: 100%;
    width: 100%;
    border: 0.3rem solid grey;
}

.bex {
    display: flex;
    padding: 3rem;
    padding-top: 0;
    font-size: medium;
}

/* ---- 여기까지 booth-1 css ---- */
