@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

*{
    font-family: 'Hanna', sans-serif;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
    line-height: 1.5rem;
}

body {
    background-color: #0C090A;
}

.wrap {
    display: flex;
    justify-content: center;
}

.main {
    margin: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.infobox {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0;
}

.infobox > li{
    list-style: circle outside none;
    font-size: 3rem;
    padding: 2rem;
    padding-bottom: 1.5rem;
}

.infobox > div {
    width: auto;
}

.infobox > .infotext {
    padding: 1.5rem;
    border-left: 0.4rem solid white;
    border-right: 0.4rem solid white;
    border-radius: 5% / 50%;
    font-size: 1.25rem;
    word-spacing: 0.2rem;
    text-align: center;
}

.infobox > .mappic {
    padding-bottom: 0;
}

.infobox > .mappic > img {
    width: 100%;
    /* height: 80%; */
}

.tickets {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;    
}

.tickets > div {
    display: flex;
    padding-top: 2rem;
}

.tickets > div > img{
    width: 95%;
    height: 100%;
}

.tickets > .omtk {
    justify-content: start;
    height: auto;
    
}

.tickets > .cotk {
    justify-content: flex-end;
    height: auto;
}


@media (min-width: 520px) {
    .wrap {
        height: 100vh;
    }
    
    .main {
        width: 520px;
        background-color: black;
    }
}