@font-face {
    font-family: arirang;
    src: url("../font/JSArirangHON.ttf") format("truetype");
}

@font-face {
    font-family: mayo;
    src: url(/static/font/Dovemayo_gothic.ttf) format("truetype");
}

*{
    font-family: 'arirang', sans-serif;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
    line-height: 1.5rem;
}

img {
    width: 85%;
}

.wrap {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.main {
    justify-content: center;
    align-items: center;
}

.oxc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    height: auto;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 0;
}

.texts > .cdtext {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.texts > .countdown {
    font-size: 2.5rem;
}

.texts > .tkex {
    font-family: mayo;
    font-size: 1.5rem;
    opacity: 50%;
    margin-top: 2.5rem;
}

.ticket {
    display: flex;
    padding: 3rem;
    padding-bottom: 0;
    justify-content: center;
}

.ticket > .tk:hover {
    filter: drop-shadow(8px 8px 6px #666666);
}

.ticket > .tk {
 /* 티켓 애니메이션 */
 animation: pop 1.5s ease-out 0s infinite;
}

@keyframes pop {
    50% {
        padding: 1rem;
        padding-right: 0;
        padding-left: 0;
    }
}
/* 애니메이션 끝 */

@media (min-width: 520px) {
    .wrap {
        height: 100vh;
    }
    
    .main {
        width: 520px;
        background-color: black;
    }
}