@font-face {
    font-family: arirang;
    src: url("../font/JSArirangHON.ttf") format("truetype");
}

@font-face {
    font-family: mayo;
    src: url("../font/Dovemayo_gothic.ttf") format("truetype");
}

*{
    font-family: 'arirang', sans-serif;
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
    line-height: 1.5rem;
}

body {
    background-color: black;
}

.wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oxc {
    display: flex;
    /* margin-top: 2rem; */
    align-items: center;
    justify-content: center;
}

.oxc > img {
    max-width: 80%;
}

.texts {
    display: flex;
    /* margin-top: -2.5rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texts > .cdtext {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 4px 4px 5px #4bcdeb, -4px 4px 5px #4bcdeb, 4px -4px 5px #4bcdeb, -4px -4px 5px #4bcdeb;
}

.texts > .countdown {
    font-size: 2rem;
}

.texts > .tkex {
    font-family: mayo;
    font-size: 1.5rem;
    opacity: 50%;
    margin-top: 2.5rem;
}

.ticket {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
}

.ticket > img {
    max-width: 75%;
}

.ticket > .tk:hover {
    filter: drop-shadow(8px 8px 6px #666666);
}

.ticket > .tk {
 /* 티켓 애니메이션 */
animation: pop 1.5s ease-out 0s infinite;
}

@keyframes pop {
    0% {
        transform: none;
    }
    
    50% {
        transform: scale(0.95);
    }

    100% {
        transform: none;
    }
}

/* 애니메이션 끝 */

@media (min-width: 520px) {
    .wrap {
        height: 100vh;
    }
    
    .main {
        width: 520px;
        background-color: black;
    }
}