/* @import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Dokdo&family=Noto+Sans+KR&display=swap'); */
@font-face {
    font-family: Gmarket;
    src: url("../font/GmarketSansTTFMedium.ttf") format('truetype');
}

@font-face {
    font-family: GmarketL;
    src: url("../font/GmarketSansTTFBold.ttf") format('truetype');
}


*{
    font-family: 'Gmarket';
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 62.5%;
}

.main {
    display: block;
    background-color: #0C090A;
    height: 100vh;
    width: 100vw;
}

.main > .OmniComa {
    font-family: GmarketL;
    display: block;
    padding: 4rem;
    /* background-color: yellow; */
    text-align: center;
    align-items: center;
    line-height: 5rem;
    font-size: xx-large;
    font-weight: bolder;
}

.main > .when {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    /* background-color: #2B1b17; */
}

.main > .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #78404A; */
    height: 4rem;
    margin: 2rem;
    color: crimson;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

.main > ul {
    display: grid;
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-rows: 1fr 1fr 1.5fr;
    row-gap: 3rem;
    /* background-color: plum; */
}

.main > ul > li {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.main > .location {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.main > .time {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.main > .info {
    display: flex;
    height: 4rem;
    width: 16rem;
    margin: auto;
    background-color: rgb(100, 100, 100);
    border-top: rgba(200,200,200,200);
    border-left: rgba(200,200,200,200);
    box-shadow: 0.1px 0.1px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.main > .club {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main > .club > button {
    height: 4rem;
    width: 10rem;
    margin: auto;
    margin-top: 2rem;
    background-color: rgb(108, 238, 255);
    border-top: rgba(200,200,200,200);
    border-left: rgba(200,200,200,200);
}